################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlinkAI.Telegram/appsettings.Development.json
/BlinkAI.Telegram/obj
/BlinkAI.Telegram/bin/Debug/net8.0
/BlinkAI.Telegram/.vs/BlinkAI.Telegram
